
{% extends 'front/base.html' %}
{% block content%}
{% load crispy_forms_tags %}  
<div class="w3-content w3-margin-top" style="max-width:800px;">
	<div class="content-section">
	        <form method="POST">
	        	<h2 style="text-align: center;">Password Confirm</h2>
	            {% csrf_token %}
	                {{ form|crispy }}
	            <div class="form-group">
	                 <button style="background-color: #009688!important; border-width: 0px;" type="Submit" class="btn btn-primary">Reset Password</button>
	            </div>
	        </form>
	    </div>
</div>
{% endblock %}