{% extends 'front/base.html' %}
{% load crispy_forms_tags %}  
{% block content %}

<div class="w3-content w3-margin-top" style="max-width:800px;text-align:center ;">
	<h2>Language</h2>
</div>
{% for language in user.language_set.all %}
	<div class="w3-content w3-margin-top" style="max-width:800px;text-align:center ;">
	<div  class="content-section">
		<div class="d-flex justify-content-between">
			<h4>{{language.lg}} / {{language.percent}}</h4>
			<form method="POST">{% csrf_token %}
			<button class="btn btn-danger btn-sm mt-2 mb-1" type="submit" name = "delete" >Delete</button>
            <input type="hidden" name="language.id" value="{{language.id}}">
			</form>
		</div>
	</div>
	</div>
{% empty %}
	<div class="w3-content w3-margin-top" style="max-width:800px;text-align:center ;">
	<div  class="content-section">
		<h4>No language added yet</h4>
	</div>
	</div>
{% endfor %}

<div class="w3-content w3-margin-top" style="max-width:800px;">
	<div  class="content-section">
	        <form method="POST">
	        	<div style="text-align:center;">
	        	<h3>Add Language</h3>
	        	</div>
	     
	            {% csrf_token %} {{ language_form|crispy }}

	            <div class="form-group" style="">
	            	<button style="background-color: #009688!important; border-width: 0px;" type="Submit" class="btn btn-primary" name="language">Add</button>
	            </div>	 	            
				</div>	
	            </div>
	        </form>
	    </div>

<div class="w3-content w3-margin-top" style="max-width:800px;">
	<div  class="content-section">
		<div class="d-flex justify-content-between">
			<a href="{% url 'skills' %}" class="button">&#8592; Back</a>
			<a href="{% url 'about' %}" class="button">Next &#8594;</a>
		</div>
</div>
</div>
</div>
{% endblock %}